[submodule "meta-balena"]
	path = meta-balena
	url = ./layers/meta-balena
[submodule "meta-bsp-imx8mm"]
	path = meta-bsp-imx8mm
	url = ./layers/meta-bsp-imx8mm/
[submodule "meta-compulab"]
	path = meta-compulab
	url = ./layers/meta-compulab
[submodule "meta-compulab-bsp"]
	path = meta-compulab-bsp
	url = ./layers/meta-compulab-bsp/
[submodule "meta-freescale"]
	path = meta-freescale
	url = ./layers/meta-freescale
[submodule "meta-freescale-3rdparty"]
	path = meta-freescale-3rdparty
	url = ./layers/meta-freescale-3rdparty/
[submodule "meta-freescale-distro"]
	path = meta-freescale-distro
	url = ./layers/meta-freescale-distro/
[submodule "meta-imx"]
	path = meta-imx
	url = ./layers/meta-imx/
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = ./layers/meta-openembedded/
[submodule "meta-python2"]
	path = meta-python2
	url = ./layers/meta-python2/
[submodule "meta-qt5"]
	path = meta-qt5
	url = ./layers/meta-qt5/
